@model WelcomeWeb.Models.Category

@{
    
}

<br />
<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <input type="hidden" asp-for="CategoryId"/>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderPlace" class="control-label"></label>
                <input asp-for="OrderPlace" class="form-control" /><br />
                <span asp-validation-for="OrderPlace" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-lg btn-primary" />
            </div>
        </form><br />
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

