@{
    ViewData["Title"] = "Index";
}

<div class="container p-4">
    <div class= "row p-3">
        <div class="col-6">
            <h2 class="text-primary">Categories</h2>
        </div>
        <div class="col-6 text-end">
            <a href="#" onclick="CreateNew(); return false;" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add New</a>
            @Html.Partial("~/Views/Shared/_category.cshtml")

        </div>
    </div>
</div>

  <table class="table table-hover mt-4">
  <thead class="table-dark text-white">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Order Replace</th>
      <th scope="col">Date Created</th>
    </tr>
  </thead>
  <tbody>
    
  
  </tbody>
</table>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function(){
            
        })

        function CreateNew(){
            clearAll();
            $('#categoryModal').modal('toggle');
            //$('#btnModal').trigger('click');
        }
        function clearAll(){
            $('#textName').val("");
            $('#textOrder').val("");
        }

        //Function For Insert Data into Database
        function save(){
            var proceed = true;
            var name = $('#textName').val();
            var order = $('#textOrder').val();
            if(name == ''){
                
                $('#textName').css('border-color', 'red');
            }else
            {
                $('#textName').css('border-color', '#ccc');

            }
            if(order == ''){
                
                $('#textOrder').css('border-color', 'red');

            }else{
                $('#textOrder').css('border-color', '#ccc');

            }
            if(proceed){

            }

        }
    </script>
}



