
@{
    ViewData["Title"] = "Index";
}

<div class="container p-4">
    <div class= "row p-3">
        <div class="col-6">
            <h2 class="text-primary">Categories</h2>
        </div>
        <div class="col-6 text-end">
            <a href="#"  class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add New</a>
           @* @Html.Partial("~/Views/Shared/_category.cshtml")*@

        </div>
    </div>
</div>

  <table class="table table-hover mt-4">
  <thead class="table-dark text-white">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Order Replace</th>
      <th scope="col">Date Created</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    
  
  </tbody>
</table>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function(){
            
        })











        //function CreateNew(){
        //    clearAll();
        //    $('#categoryModal').modal('toggle');
        //    //$('#btnModal').trigger('click');
        //}
        //function clearAll(){
        //    $('#textName').val("");
        //    $('#textOrder').val("");
        //}

        ////Function For Insert Data into Database
        //function save(){
        //    var proceed = true;
        //    //var name = $('#textName').val();
        //    //var order = $('#textOrder').val();
        //    ViewModel = {                
        //        CategoryName: $("#textName").val(),
        //        OrderPlace: $("#textOrder").val()                
        //    }
        //    if(proceed){
        //        debugger
                    
        //        $.ajax({
        //           async: true,
        //           type:'post',
        //           url:'Category/Save',
        //           data:JSON.stringify(ViewModel),
        //           datatype: 'JSON',
        //           contentType: 'application/json, charset=utf-8',
        //           success(data){
        //               if(data=='Pass'){
        //                   alert('saved successfully')
        //               }else{
        //                   alert('Failed')
        //               }
        //           },
        //           error(){

        //           }
        //        });
        //    }

        }
    </script>
}



