@model MyApp.Models.ViewModel.OrderVM
@using MyApp.CommonHelper
<form method="post">
<div class="card mb-3 mt-3">
    <center>
    <h2 class="justify-content-center mt-5 mb-2">Order Details</h2>
    </center>
<div class="container justify-content-center mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">@* <span><b>PickUp Details</b></span>*@
                         
                 
         <div class="card">  
              <div class="card-header py-2"><span><b>PickUp Details</b></span></div>
                 <div class="card-body payment-card-body"> 
                     <div class="input">
                         @if(User.IsInRole(WebsiteRole.Role_Admin)|| User.IsInRole(WebsiteRole.Role_Employee))
                         {
                             <span class="font-weight-normal card-text"><b>Name</b></span>                           
                             <input asp-for="orderHeader.Name" class="form-control">
                             <span asp-validation-for="orderHeader.Name" class="text-danger"></span>
                                    
                          }
                            else
                            {
                            <span class="font-weight-normal card-text"><b>Name</b></span>                           
                            <input asp-for="orderHeader.Name" readonly class="form-control">

                            }
                            </div>


                     <div class="input">
                         @if(User.IsInRole(WebsiteRole.Role_Admin)|| User.IsInRole(WebsiteRole.Role_Employee))
                         {
                             <span class="font-weight-normal card-text"><b>Phon No</b></span>                           
                             <input asp-for="orderHeader.Phon" class="form-control">
                             <span asp-validation-for="orderHeader.Phon" class="text-danger"></span>
                                    
                          }
                            else
                            {
                            <span class="font-weight-normal card-text"><b>Phon No</b></span>                           
                            <input asp-for="orderHeader.Phon" readonly class="form-control">

                            }
                            </div>


                      <div class="input">
                         @if(User.IsInRole(WebsiteRole.Role_Admin)|| User.IsInRole(WebsiteRole.Role_Employee))
                         {
                             <span class="font-weight-normal card-text"><b>Address</b></span>                           
                             <textarea type="text" asp-for="orderHeader.Address" class="form-control"></textarea>
                             <span asp-validation-for="orderHeader.Address" class="text-danger"></span>
                                    
                          }
                            else
                            {
                            <span class="font-weight-normal card-text"><b>Address</b></span>                           
                            <textarea type="text" asp-for="orderHeader.Address" readonly class="form-control"></textarea>


                            }
                            </div>


                      <div class="input">
                         @if(User.IsInRole(WebsiteRole.Role_Admin)|| User.IsInRole(WebsiteRole.Role_Employee))
                         {
                             <span class="font-weight-normal card-text"><b>City</b></span>                           
                             <input asp-for="orderHeader.City" class="form-control">
                             <span asp-validation-for="orderHeader.City" class="text-danger"></span>
                                    
                          }
                            else
                            {
                            <span class="font-weight-normal card-text"><b>City</b></span>                           
                            <input asp-for="orderHeader.City" readonly class="form-control">

                            }
                            </div>


                      <div class="input">
                         @if(User.IsInRole(WebsiteRole.Role_Admin)|| User.IsInRole(WebsiteRole.Role_Employee))
                         {
                             <span class="font-weight-normal card-text"><b>State</b></span>                           
                             <input asp-for="orderHeader.State" class="form-control">
                             <span asp-validation-for="orderHeader.State" class="text-danger"></span>
                                    
                          }
                            else
                            {
                            <span class="font-weight-normal card-text"><b>State</b></span>                           
                            <input asp-for="orderHeader.State" readonly class="form-control">

                            }
                            </div>


                      <div class="input">
                         @if(User.IsInRole(WebsiteRole.Role_Admin)|| User.IsInRole(WebsiteRole.Role_Employee))
                         {
                             <span class="font-weight-normal card-text"><b>Postal Code</b></span>                           
                             <input asp-for="orderHeader.PostalCode" class="form-control">
                             <span asp-validation-for="orderHeader.PostalCode" class="text-danger"></span>
                                    
                          }
                            else
                            {
                            <span class="font-weight-normal card-text"><b>Postal Code</b></span>                           
                            <input asp-for="orderHeader.PostalCode" readonly class="form-control">

                            }
                            </div>
                      <span class="font-weight-normal card-text"><b>Email</b></span>
                     <div class="input"> 
                         <input type="text" readonly asp-for ="orderHeader.Applicationuser.Email" class="form-control">
                         </div>
                            <div class="input">
                         @if(User.IsInRole(WebsiteRole.Role_Admin)|| User.IsInRole(WebsiteRole.Role_Employee))
                         {
                             <span class="font-weight-normal card-text"><b>Tracking</b></span>                           
                             <input asp-for="orderHeader.TrackingNumber" class="form-control">
                                    
                          }
                            else
                            {
                            <span class="font-weight-normal card-text"><b>Tracking</b></span>                           
                            <input asp-for="orderHeader.TrackingNumber" readonly class="form-control">

                            }
                            </div> 
                        
                      <span class="font-weight-normal card-text"><b>Order Date</b></span>
                     <div class="input"> 
                         <input readonly asp-for ="orderHeader.DateOfOrder" class="form-control">
                         </div>
                    <div class="input">
                         @if(User.IsInRole(WebsiteRole.Role_Admin)|| User.IsInRole(WebsiteRole.Role_Employee))
                         {
                             <span class="font-weight-normal card-text"><b>Carrier</b></span>                           
                             <input asp-for="orderHeader.Carrior" class="form-control">
                                    
                          }
                           else
                            {
                            <span class="font-weight-normal card-text"><b>Carrier</b></span>                           
                            <input asp-for="orderHeader.Carrior" readonly class="form-control">

                            }
                            </div>
                          <span class="font-weight-normal card-text"><b>Shipping Date</b></span>
                     <div class="input"> 
                         <input readonly asp-for ="orderHeader.DateOfShipping" class="form-control">
                         </div>
                       <div class="input">
                         @if(User.IsInRole(WebsiteRole.Role_Admin)|| User.IsInRole(WebsiteRole.Role_Employee))
                         {
                             <span class="font-weight-normal card-text"><b>Session Id</b></span>                           
                             <input asp-for="orderHeader.SessionId" readonly class="form-control">
                             
                              <span class="font-weight-normal card-text"><b>Payment Intent Id</b></span>                           
                             <input asp-for="orderHeader.PaymentIntentId" class="form-control">
                       
                          }
                            
                        </div>
                        @if(Model.orderHeader.SessionId!=null){
                        <span class="font-weight-normal card-text"><b>Payment Date</b></span>
                     <div class="input"> 
                         <input readonly asp-for ="orderHeader.DateOfPayment" class="form-control">
                         </div>
                         }
                         <span class="font-weight-normal card-text"><b>Payment Status</b></span>
                     <div class="input"> 
                         <input readonly asp-for ="orderHeader.PaymentStatus" class="form-control">
                         </div>
                         
                     <div class="input"> 
                    `<button type="submit" class=" w-100 btn btn-primary btn-block free-button mb-2 mt-3">Update Order</button>

                        </div>
                 </div>
         </div>
             
            
        </div>
        <div class="col-md-6"> 
            <div class="card">
                <div class="card-header py-2"><span><b>Summary</b></span></div>
                @foreach (var detail in Model.OrderDetail)
                {
                    
                
                <div class="d-flex justify-content-between p-2">
                    <div class="d-flex flex-column p-2"> <span><b>Product</b></span>@detail.Product.ProductName </div>
                    <div class="d-flex flex-column p-2"><span class="super-month"><b>Qty</b></span> @detail.Count</div>
                    <div class="d-flex flex-column p-2"><span class="super-month"><b>Price</b></span>@(((detail.Product.Price)*(detail.Count)).ToString("c")) </div>
                
               
                </div>}
                <hr class="mt-0 line">
               
                @*<div class="p-3 d-flex justify-content-between">
                    <div class="d-flex flex-column"> <span><b>Total Grand</b></span> <small></small> </div><b>@Model.orderHeader.OrderTotal.ToString("c")</b>
                </div>  
*@                
                <div class="p-3">
                @if(User.IsInRole(WebsiteRole.Role_Admin)|| User.IsInRole(WebsiteRole.Role_Employee))
                 {
                   if(Model.orderHeader.OrderStatus==OrderStatus.StatusApproved){
                 <button asp-action="Summary" asp-controller="Cart" class=" w-100 btn btn-primary btn-block free-button mb-2">Start Processing</button>
                }
                 if(Model.orderHeader.OrderStatus==OrderStatus.StatusInProcess)
                 {
                 <button asp-action="Summary" asp-controller="Cart" class=" w-100 btn btn-success btn-block free-button mb-2">Ship Order</button>
                }
                 if(Model.orderHeader.OrderStatus!=OrderStatus.StatusRefunded ||
                 Model.orderHeader.OrderStatus!=OrderStatus.StatusCancelled)
                {
                 <button asp-action="Summary" asp-controller="Cart" class=" w-100 btn btn-dark btn-block free-button mb-2">Cancel Order</button>
                 }

                 }
             
             
             
             </div>
                 
            
            </div>
        </div>
    </div>
</div>
</div>
</form>