@model MyApp.Models.ViewModel.ProductVM

@{
    ViewData["Title"] = "Edit";
}

<br />
<h1>@((Model.Product==null || Model.Product.ProductId ==0)?"Create":"Update") Product</h1>


<div class="row">
    <div class="col-md-8">
        <form method="post" asp-action="CreateUpdate" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.ProductId" />
            <input type="hidden" asp-for = "Product.ImgUrl"/>
            <div class="form-group">
                <label asp-for="Product.ProductName" class="control-label">Product Name</label>
                <input asp-for="Product.ProductName" class="form-control" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div></ br>
            <div class="form-group">
                <label asp-for="Product.CategoryId" class="control-label">Category</label>
                <select asp-for="Product.CategoryId" asp-items = "@Model.Categories" class="form-control">--Select Category--
                <option disabled>--Select Category--</option>
                </select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div></ br>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div></ br>
            <div class="form-group">
                <label asp-for="Product.ImgUrl" class="control-label">Select Image </label>
                <input type="file" id="ImageFile" name="file" class="form-select" />
            </div></ br>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <textarea asp-for="Product.Description" class="form-control"></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div></ br>
            
             
            <div class="form-group">
                @if (Model.Product == null || Model.Product.ProductId == 0)
                {
                    <input type="submit" value="Create" onclick="Validate()" class="w-100 btn btn-lg btn-primary mt-2" />
                    
                }
                else
                {
                    <input type="submit" value="Update" onclick="Validate()" class="w-100 btn btn-lg btn-primary mt-2" />

                }
            </div>
        </form>
    </div>
</div><br />

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial"/>

    <script>


  tinymce.init({
    selector: 'textarea'
  });

        function Validate(){
            if(document.getElementById("ImageFile").value==""){
              Swal.fire({
              title: 'Error!',
              text: 'Please Select Image',
              icon: 'error',
              confirmButtonText: 'Ok'
            });
            return false;
            }
            return true;
        }
    </script>
}